*, html {
  font-family: 'Roboto', sans-serif !important;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
  accent-color: rgb(3, 190, 247);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.header {
  
  display: flex;
  /* margin-top: 10px; */
  /* border-bottom: 3px solid #31C48D; */
  justify-content: space-between !important;
  background-color: rgb(235, 235, 235);
  padding: 10px 2rem;
  border-bottom: 3px solid #31C48D;
}

.headerimg {
  height: 4vw;
}

.homeHeader {
  font-family: 'Fira Sans', sans-serif;
  color: #073b3a;
  /* position: absolute; */
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 10px 0;
  background-color: #ffffff;
  margin-bottom: 15px;
  color: #31C48D;
  margin-bottom: 30px;
}

.restHeader {
  font-family: 'Fira Sans', sans-serif;
  color: #073b3a;
  /* position: absolute; */
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 10px 0;
  background-color: #ffffff;
  margin-bottom: 15px;
  color: #31C48D;
  margin-bottom: 30px;
  font-size: 200%;
}

.restAddress {
  font-family: 'Fira Sans', sans-serif;
  color: gray;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 10px 0;
  background-color: #ffffff;
  margin-bottom: 15px;
  margin-bottom: 30px;
  font-size: 150%;
}

.restContainer {
  text-align: center;
  margin: auto;
}

.restLoading{
  margin: auto;
  text-align: center;
}

.navbar {
  display: flex;
  /*margin-top: 10px;*/
  /* padding-bottom: 10px; */
  
  /* margin-bottom: 10px; */
  width: 100%;
  /* font-family: 'Fira Sans', sans-serif;*/
  align-items: center !important;
}

.headerNav {
  display: flex !important;
}

.navlink {
  text-decoration: none;
  color: #31C48D;
  font-family: 'Biryani';
  font-size: 150%;
  padding: 0 20px;
  border-right: 1px solid gray;
  height: 35%;
}

.navlinkend {
  border-right: none;
}

.navlink:hover {
  color: #ea816fff;
  cursor: pointer;
}

.navBtn {
  border: none;
  background-color: rgb(235, 235, 235);
}

.restCardCont {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
}

.restaurantCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid #31C48D;
  width: 234px;
  height: 20vh;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 10px;
  /* box-shadow: ; */
  margin: 10px;
}

.restCardLink {
  font-size: 150%;
  width: 100%;
  text-decoration: none;
  color: gray;
}

.restCardLink:hover{
  color: #31C48D
}

.restCardp {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  display: block;
}

.restCardBtn {
  width: 80%;
  font-size: 125%;
  border: none;
  background-color: #81dab9;
  height: 30px;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.restCardBtn:hover {
  background-color: #31C48D;
  transition: .7s;
  cursor: pointer;
}

.dashboard {
  /* display: flex;
  flex-wrap: wrap; */
}

.dashNav {
  display: flex;
  justify-content: space-around;
}

.dashHeader {
  text-align: center;
  display: block;
  margin: auto;
  width: 80%;
  padding-bottom: 10px;
  border-bottom: 3px solid #31C48D;
  color: gray;
  margin-top: 10px;
}

.loginCont {
  display: flex;
  justify-content: space-around;
}

.loginForm {
  margin-top: 20px;
  text-align: center;
}

.formHeader {
  font-size: 150%;
  padding-bottom: 20px;
}

.formInput {
  padding: 10px;
}

.inputLabel {
  margin-right: 10px;
}

.inputBox {
  border: 3px solid #31C48D;
  border-radius: 5px;
  height: 20px;
}

.submitBtn {
  margin-top: 10px;
  height: 30px;
  width: 50%;
  background-color:#31C48D;
  color: black;
  border-radius: 5px;
}

.submitBtn:hover {
  background-color: #81dab9;
  transition: .7s;
  cursor: pointer;
}

.formSubmitBtn {
  margin-top: 10px;
  height: 40px;
  width: 15%;
  background-color:#31C48D;
  color: black;
  border-radius: 5px;
  font-size: 125%;
  border: none;
}

.formSubmitBtn:hover {
  background-color: #81dab9;
  transition: .7s;
  cursor: pointer;
}

.signupForm {
  margin-top: 20px;
  text-align: center;
}

.dashH2 {
  color: gray;
  text-decoration: none;
}

.dashH1 {
  color: gray;
  text-decoration: none;
}

.dashBtn:hover {
  color: #ea816fff;
  cursor: pointer;
}

.dashH2:hover {
  color: #ea816fff;
  cursor: pointer;
}

.dashBtn {
  border: none;
  background-color: #ffffff;
  font-size: 125%;
}

.dashContent {
  text-align: center;
}

.addRestBtn {
  width: 20%;
  font-size: 125%;
  background-color: #31C48D;
  border-radius: 5px;
  height: 50px;
  border: none;
}

.addRestBtn:hover {
  cursor: pointer;
  background-color: #81dab9;
}

.appCont {
  min-height: 100vh;
  position: relative;
  padding-bottom: 140px;
}

.restFormDiv {
  margin: 20px;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50;
  text-align: center;
  background-color: rgb(235, 235, 235);
  color:#31C48D;
  font-family: 'Fira Sans', sans-serif;
  border-top: 3px solid #31C48D;
  padding-top: 10px;

}

.footer img {
  width: 5vw;
}



/*--mantis: #7ac74fff;
--pistachio: #a1cf6bff;
--straw: #d5d887ff;
--citron: #e0c879ff;
--cream: #e2e9c0ff;
--salmon: #ea816fff;*/
@media screen and (max-width: 980px) {
  body,
  header {
    flex-direction: column;
  }

  .headerimg{
    margin: auto;
    height: 150px;
    width: 25%;
  }

  h1,
  nav {
    flex-direction: column;
    padding: 20px;
  }
}
