body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.header {
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  /* border-bottom: 3px solid #31C48D; */
  justify-content: space-evenly;
}

.headerimg {
  height: 150px;
  margin-left: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #31C48D;
}

.navlink {
  text-decoration: none;
  color: #31C48D;
  font-family: 'Biryani';
  font-size: 150%;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid gray;
}

.navlinkend {
  border-right: none;
}

.navlink:hover {
  color: gray;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50;
  text-align: center;
}

footer img {
  width: 5vw;
}
