body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.header {
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  /* border-bottom: 3px solid #31C48D; */
  justify-content: space-evenly;
}

.headerimg {
  height: 150px;
}

.homeHeader {
  text-align: center;
  margin: auto;
  width: 80%;
  padding-bottom: 10px;
  border-bottom: 3px solid #31C48D;
  margin-bottom: 15px;
  color: gray;
}



.navbar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
  width: 100vw;
  border-bottom: 3px solid #31C48D;
  margin-bottom: 10px;
  margin-right: 25px;
}

.navlink {
  text-decoration: none;
  color: #31C48D;
  font-family: 'Biryani';
  font-size: 150%;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid gray;
}

.navlinkend {
  border-right: none;
}

.navlink:hover {
  color: #81dab9;
}

.restCardCont {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.restaurantCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid #31C48D;
  width: 234px;
  height: 20%;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 10px;
  /* box-shadow: ; */
  margin: 10px;
}

.restCardLink {
  font-size: 150%;
  text-decoration: none;
  color: gray;
}

.restCardLink:hover{
  color: #31C48D
}

.restCardp {
  text-overflow: ellipsis;
  overflow: hidden;
}

.restCardBtn {
  width: 50%;
  font-size: 125%;
  border: none;
  background-color: #81dab9;
  height: 30px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.restCardBtn:hover {
  background-color: #31C48D;
  transition: .7s;
  cursor: pointer;
}

.dashboard {
  /* display: flex;
  flex-wrap: wrap; */
}

.dashNav {
  display: flex;
  justify-content: space-around;
}

.dashHeader {
  text-align: center;
  display: block;
  margin: auto;
  width: 80%;
  padding-bottom: 10px;
  border-bottom: 3px solid #31C48D;
  color: gray;
}

.loginCont {
  display: flex;
  justify-content: space-around;
}

.loginForm {
  margin-top: 20px;
}

.signupForm {
  margin-top: 20px;
}

.dashH2 {
  color: gray;
  text-decoration: none;
}

.appCont {
  min-height: 100vh;
  position: relative;
  padding-bottom: 140px;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50;
  text-align: center;
}

.footer img {
  width: 5vw;
}

@media screen and (max-width: 980px) {
  body,
  header {
    flex-direction: column;
  }

  .headerimg{
    margin: auto;
    height: 150px;
    width: 25%;
  }

  .footer {

  }

  h1,
  nav {
    flex-direction: column;
    padding: 20px;
  }
}
